<div class="container">
  <h1>{{ title }}</h1>
  <div class="text__sign__output__container">
    <div class="sign_text">{{ signTextValue }}</div>
    <div>{{ textValue }}</div>
  </div>
  <textarea
    id="text_area"
    name="textarea"
    [value]="textArea"
    (input)="textArea = getValue($event)"
  >
  </textarea>
  <div class="text__input__container">
    <input
      type="text"
      class="input__txt"
      [value]="inputTextValue"
      (input)="inputTextValue = getValue($event)"
      placeholder="Type your message here"
    />
    <button class="send__btn" (click)="sendMessage()">send</button>
  </div>
</div>
