/* You can add global styles to this file, and also import other style files */

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
@font-face {
    font-family: "Poppins";
    src: url("../src/assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Aclonica";
    src: url("../src/assets/fonts/Aclonica-Regular.ttf");
}

@font-face {
    font-family: "isl";
    src: url("../src/assets/fonts/IndianSignLangage.ttf");
}

body {
    font-family: 'Poppins';
    background-color: #62E6BF;
    width: 100%;
    height: 100vh;
}

